@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;800&display=swap');

$light: #36393f;
$dark: #2f3136;
$black: #202225;

$orange: #f26522;
$yellow: #fbb848;
$green: #43b581;
// $turquoise: #1abc9c;
$blue: #00b0f4;
$purple: #551f8b;
$red: #f04747;
$yellow-inverse: #fff;
$white-ter: #ecf0f1;

$primary: $blue !default;
$link: $blue;
$success: $green;
$info: $yellow;
$warning: $orange;
$danger: $red;

$primary-gradient: linear-gradient(135deg, $blue, $purple);
$link-gradient: linear-gradient(135deg, $blue, darken($blue, 24%));
$success-gradient: linear-gradient(135deg, $green, darken($green, 24%));
$info-gradient: linear-gradient(135deg, $yellow, $red);
$warning-gradient: linear-gradient(135deg, $yellow, $red);
$danger-gradient: linear-gradient(135deg, $purple, $red);
$light-gradient: linear-gradient(135deg, $light, $dark);
$dark-gradient: linear-gradient(135deg, $light, $black);

$gradients: (
    "primary": $primary-gradient,
    "link": $link-gradient,
    "success": $success-gradient,
    "info": $info-gradient,
    "warning": $warning-gradient,
    "danger": $danger-gradient,
    "light": $light-gradient,
    "dark": $dark-gradient
);

$shadow: rgba(0, 0, 0, calc(2 / 3));
$warning-inverse: #fff;

$text: #fff;
$background: $light;
$family-primary: 'Sora', sans-serif;

$radius: 8px;
$control-border-width: 3px;

$menu-item-hover-color: #fff;
$menu-item-radius: $radius;

$title-font-weight: 800;

$navbar-dropdown-border-top: 2px solid $dark;
$navbar-dropdown-radius: $radius;
$navbar-dropdown-boxed-radius: $radius;

$tabs-boxed-link-active-background-color: $dark;
$tabs-border-bottom-color: darken($dark, 8%);
$tabs-border-bottom-width: 3px;
$tabs-boxed-link-hover-background-color: rgba(0, 0, 0, 0.25);
$tabs-link-hover-color: white;

$scale: 1.0125;
$scale-transform: scale($scale);
$scale-inverse-transform: scale(1 / $scale);